{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Character Customizer</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>



<body>

    <!-- Login Button -->
    <a href="{% url 'login' %}" class="login-button">Login</a>

    <!-- Main Content -->
    <div class="container">
        <h1>Welcome to Character Customizer</h1>
        <p>Create, randomize, and manage your Dungeons & Dragons 5e characters and campaigns.</p>
        <div class="grid">
            <div class="box">
                <h2>Feature 1: Character Creation</h2>
                <p>
                    Manage your Dungeons & Dragons 5e characters! Choose their race, class, 
                    abilities, and backstory to craft heroes or villains for your campaigns. Whether you're a seasoned player or a beginner, 
                    this tool offers a guided, user-friendly experience to bring your imagination to life.
                </p>
            </div>
            <div class="box">
                <h2>Feature 2: Character Randomization</h2>
                <p>
                    Try our character randomization feature! Generate entirely new characters with the click of a button. 
                    This feature ensures the characters are within the rules of 5e, making it perfect for quick games or discovering new 
                    combinations you might not have considered.
                </p>
            </div>
            <div class="box">
                <h2>Feature 3: Campaign-Character Management</h2>
                <p>
                    Seamlessly integrate your characters into campaigns. With our management tools, you can assign characters to specific campaigns 
                    for easy Dungeon Master and player tracking. Easily update a character's current status via the update management feature.
                </p>
            </div>
        </div>
        <a href="{% url 'register' %}" class="register-button">Register Now!</a>
    </div>

    <!-- Footer -->
    <footer>
        <p> Character Customizer. MIT License </p>
    </footer>
</body>
</html>
