/* Specific to Home */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* Feature Boxes */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #343a40;
}

.box p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

/* Register Now Button */
.register-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.register-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Login Button */
.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;
}

.login-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background: #007BFF;
    color: white;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

